* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: $black;
    color: $white;
    @include base-spacegrotesk;
}

.layout__wrapper {
    max-width: 100vw;
    padding-right: 1rem; 
    padding-left: 1rem;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

a {
    color: $white;
    text-decoration: none;
}

// Nav
nav {
    top: 0;
    background-color: $black;
    height: 3rem;
    width: 90%;
    margin: 1rem 0;
    padding-right: 2rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 1px solid #FFFFFF;
    border-radius: 3rem;
    z-index: 1000;
}

nav a:hover {
    color: $pink;
}

nav a.active {
    color: $white;
    background-color: $pink;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
} 

// Hero
h1 {
    @include title-unifrakturcook;
    font-size: 13vw;
    text-shadow: 0 10px 10px rgba($white, 0.35);
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/*
.hero__content--subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
} 
*/

.hero__content--image {
    height: 40rem;
    background: linear-gradient(180deg, rgba($pink,1) 0%, rgba($black,1) 100%);
}


.introduction__wrapper {
    padding: 2rem;
}

.introduction__content {
    display: flex;
    justify-content: space-between;
}

.introduction__content--title {
    width: 33%
}

.introduction__content--title {
    font-size: 1rem;
}

.introduction__content--text {
    width: 66%
}

.introduction__content--text--1 {
    font-size: 2rem;
    margin-bottom: 2rem;

} 

.introduction__content--text--2 {
    font-size: 1rem;
}

/* 
// Projects 
.projects__wrapper {
    display: block; 
    justify-content: center; 
    flex-wrap: wrap; 
}
*/

// Career 
.career__content {
    display: block; 
    padding: 2rem;
} 

.career__content--title h2 { 
    font-size: 3rem; 
    padding-bottom: 2rem;
} 

.career__content--section {
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid $white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.career__content--year { 
    width: 33%;
    font-size: 1rem;
} 

.career__content--description { 
    width: 66%;
    font-size: 2rem; 
}
