* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: $black;
    color: $white;
    font-family: 'Space Grotesk', sans-serif;
}

.layout {
    display: flex;
    justify-content: center;
}

a {
    color: $white;
    text-decoration: none;
}

nav {
    height: 3rem;
    width: 90%;
    margin: 1rem 0;
    padding-right: 2rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 1px solid #FFFFFF;
    border-radius: 3rem;
    z-index: 1000;
}

nav a:hover {
    color: $pink;
}

nav a.active {
    color: $white;
    background-color: $pink;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
}

// Hero
.hero__content {
    padding: 10rem 0;
}

h1 {
    @include title-unifrakturcook;
    font-size: 12rem;
    text-shadow: 0 10px 10px rgba($white, 0.35);
}
