@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    // Base
    body {
        font-size: 1rem;
    }

    .layout__wrapper {
        padding-right: 1.25rem; 
        padding-left: 1.25rem;    
    }

    // Navigation
    nav {
        top: 2%;
        left: 1.75%;
    }

    // Hero
    .hero__content--title {
    
        h1 {
            @include title-unifrakturcook;
            font-size: 12vw;
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 0.5rem;
        }
    }
    
    .hero__content--subtitle {

        h2 {
            font-size: 1.5rem;
        }
    } 
    
    .hero__content--image {
        height: 20rem;
    }    
}
