@media only screen and (min-width: 320px) and (max-width: 1179px) {
    
    // Base
    body {
        font-size: 1rem;
    }

    .layout__wrapper {
        padding-right: 1.25rem; 
        padding-left: 1.25rem;    
    }

    // Navigation
    nav {
        top: 2%;
        left: 1.75%;
    }

    // Hero
    .hero__content--title {
    
        h1 {
            font-size: 12vw;
            text-align: center;
            margin-top: 4rem;
        }
    }
    
    .hero__content--subtitle {

        h2 {
            font-size: 1.5rem;
        }
    } 
    
    .hero__content--image {
        height: 30rem;
    }    

    // Introduction
    .introduction__wrapper {
        padding: 2rem 1.25rem;
    }

    .introduction__content {
        display: block;
    }

    .introduction__content--title {
        width: 100%;

        h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }

    .introduction__content--text {
        width: 100%
    }

    // Career 
    .career__content {
        padding: 0 0.7rem;
    } 

    .career__content--title { 
        padding-bottom: 1rem;

        h2 {
            font-size: 3rem; 
        }
    } 

    .career__content--section {
        display: block; 
    }

    .career__content--year { 
        width: 100%;

        p {
            margin-bottom: 1rem;
        }
    } 

    .career__content--description { 
        width: 100%;
    }

    .career__content--changingtext {
        height: 5rem;
    }

    // Skills
    .skills__content {

        h2 {
            font-size: 3rem; 
            padding: 2rem 1rem;
        }
    }

    .skills__section { 
        display: block;
    }

    .skills__section--element {
        margin-bottom: 0.25rem;

        p {
            font-size: 1.25rem; 
        }
    }

    // Soft Skill Questions API
    .softskills__api {
        max-width: 100%;
        height: 700px;
    }

    .softskills__api--description {

        p {
        font-size: 1.5rem;
        }
    }

    .softskills__api--questions {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.25rem;
    }

    // Projects 
    .projects__content--title { 

        h2 {
            font-size: 4.25rem;
            margin-bottom: 3rem;
        }
    }

    .projects__content { 
        display: block;
        margin-bottom: 5rem;
    }

    .projects__content--section {
        margin-bottom: 3rem;
    } 

    .projects__content--image { 

        img {
            width: 350px;
        }
    }

    .projects__content--text { 
        
        p {
            font-size: 1.25rem;
        }
    }

    // Footer 
    .footer__content {
        display: block;
        padding: 5rem 2rem;
    }

    .footer__section--element {

        p {
            font-size: 1.5rem;

            &:first-child {
                margin-bottom: 2rem; 
            }
        }
    }

    .section--second {
        margin-bottom: 3rem;
    }

    .footer__section--sitemap {
        width: 75%;

        a {
            font-size: 1.25rem;
        }
    }
}
