* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    height: 3rem;
    width: calc(100% - 162px);
    margin: 1rem 3rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 1px solid #FFFFFF;
    border-radius: 3rem;
    position: fixed;
    z-index: 1000;
}

nav a.active {
    background-color: #FF19A4;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
}